// 字体大小
$small-font: 12px;
$middle-font: 14px;
$normal-font :16px;
$big-font: 18px;
$bigger-font: 20px;
$biggest-font: 24px;

// 字体加粗
$normal-bold: 500;
$bold: bold; 

// 字体选择
$yahei: 'Microsoft YaHei';
$songF: 'SimSun'
