// 颜色变量
$white: white;
$grey: #ccc;
$light-grey: #f2f2f2;
$blue: #00bcd4;
$red: #f44336;


// 白底黑字
.bw-black{
  background: #fff;
  color: #333;
}


//自定义背景，自定义字体颜色
@mixin ownb-owncolor($bcolor,$fcolor) {
        background: $bcolor;
        color: $fcolor;
}