<!--The content below is only a placeholder and can be replaced.-->
<!-- <mat-tab-group>
        <mat-tab label="Tab 1">
                <router-outlet></router-outlet>
        </mat-tab>
        <mat-tab label="Tab 2">
            <button mat-icon-button color="primary">
                <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
            </button>
        </mat-tab>
</mat-tab-group> -->
<nav>
    <ul class="nav-far">
        <li class="nav-bar"><a [routerLink]="['home']" [routerLinkActive]="['active']">主页</a></li>
        <li class="nav-bar"><a [routerLink]="['owncenter']" [routerLinkActive]="['active']">个人中心</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>