
/*全局样式*/
*{
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
/*公用样式库*/
@import 'common';

/*块样式*/
@import 'nav/nav-header';

//全局样式
a {
    height: 100%;
    width: 100%;
    display: block;
    @include ownb-owncolor($blue,$white);
    @include text-align(center);
}
.pancel {
    @include padding();
}
